.card-container {
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 30%);
    border: 1px solid #d3d3d3;
    border-top-width: 0;
    overflow: hidden;
    max-width: 350px;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  
  .card-container img {
    height: 350px;
    width: 350px;
  }
  
  .card-body {
    padding: 0 10px;
  }
  
  .card-body h1 {
      font-family:Gotham, 'Helvetica', 'Arial', sans-serif;
      font-weight: 600;
      margin: 10px 0;
      font-size: 20px;
      color: #DA0530;
    }
  
    .price {
      font-family: Gotham, 'Helvetica', 'Arial', sans-serif;
      font-weight:  600;
      font-size: 20px;
      color: #DA0530;
    }
  
    p {
      font-family:Gotham, 'Helvetica', 'Arial', sans-serif;
      margin: 0 0 10px;
      font-size: 14px;
    }
  
 